* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1800px;
    margin: auto;
    padding: 10px 75px;
}

.topbar {
    background-color: #f0f0f0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: grey;
    text-decoration: none;
    letter-spacing: 1.3px;
}

.logo {
    display: block;
    max-height: 65px;
}

.learn-more {   
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
}

.slider {
  display: flex;
  justify-content: space-between;
  gap:10px;
  position: relative;
}

.picture-container {
  width: 33.3333333333333333333%; 
}
.img {
    width: 100%;
}

/* .side-buttons {
    margin: auto;
} */

.left {
background-color: black;
color:#f0f0f0;
position:absolute;
top: 0;
bottom: 0;
margin: auto 0;
height:40px;
width:30px;
border-radius: 5px;
border:0;
left:-10px;

}

.right {
    background-color: black;
    color:#f0f0f0;
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    margin: auto 0;
    height:40px;
    width:30px;
    border-radius: 5px;
    border:0;
    right:-10px;

    /* font-size: 35px; */
    /* align-content: center; */
    /* padding:10px; */
}